* {
  box-sizing: border-box;
  margin: 0 auto;
}
.main_header {
  width: 140px;
  margin: 0;
}

input:focus::placeholder {
  color: transparent;
}
input:focus {
  outline: none;
  box-shadow: none;
}
.custom-nav {
  background-color: #fad4c0;
  padding: 10px;
  border-radius: 8px;
}

.custom-nav .nav-link {
  color: #6b4c3b;
}

.custom-nav .nav-link:hover,
.custom-nav .nav-link:focus {
  color: white !important;
  border-radius: 8px;
  background-color: #f59a60 !important;
  text-decoration: none;
}
.custom-nav .nav-link.active {
  background-color: #f6a97a;
  color: white;
  border-radius: 5px;
}
.title {
  text-align: left;
  margin-bottom: 30px;
  cursor: pointer;
}
.title a {
  text-decoration: none;
}
.login {
  width: 200px;
  margin-right: 0;
  text-align: right;
  cursor: pointer;
}
.login_btn {
  display: inline-block;
  width: 70px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}
.login_btn:hover {
  background-color: black;
  color: white;
}

.member_btn {
  background: #f6a97a;
  display: inline-block;
  color: white;
  width: 70px;
  height: 50px;
  border-radius: 30px;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}
.member_btn:hover {
  background-color: white;
  color: #f6a97a;
}
.main_select {
  width: 300px;
  margin: 20px;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;

  background-color: white;
}
.main_button {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.main_button a {
  background-color: #f59a60;
  color: white;
  border: none;
}
.main_button a:hover {
  background-color: #f59a60;
  color: white;
  border: none;
}
.dropdown {
  margin: 0px;
}
.main_button_item {
  background-color: #e9d8c3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100px;
  height: 45px;
}
.main_button a:focus:active {
  background-color: #e9d8c3 !important;
  box-shadow: none !important;
}
.main_button button {
  margin: 10px 10px 4% 0px;
  padding: 10px 20px;
  background-color: #f59a60;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
.main_button button:hover {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #f8a86d;
  color: #5c4b3b;
}
.heart {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: transform 0.2s;
}

.heart.active {
  color: red;
  transform: scale(1.1);
}
.dropdown {
  display: flex;
  flex-direction: row;
}
.caregiver_card {
  transition: transform 0.2s ease-in-out;
}
.caregiver_card:hover {
  transform: scale(1.02);
}
